
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}



p{
    color:#7777;
    filter:brightness(100%);
}

.register-text p{
    color:#F4FAFD;
}

.carousel-item img {
    min-height: 300px;
    filter: brightness(50%);
}

.register-btn{
    background-color: #fff;
}

@media (max-width: 576px) { 
    .banner-text h1{
        font-size: 1.5em;
    }
    
    .banner-text p{
        font-size: 0.5em;
    }
    .carousel-item img {
        height: 300px;
    }
    
 }

 .text-bg{
    background-color: #F4FAFD;
 }

 .btn-white{
    background-color: #ffff;
 }

 .gold{
    color: orange;
 }

 .bg-footer{
    background-color: #161616;
 }